{% if navbar_search %}
	<li style="display: flex; align-items: center;">
		<form class="navbar-search-form" action='/search'>
		<input name='q' class='form-control navbar-search' type='text'
			value='{{ frappe.form_dict.q|e if frappe.form_dict.q else ''}}'
			{% if not frappe.form_dict.q%}placeholder="{{ _("Search...") }}"{% endif %}>
		<button class="navbar-search-btn" type="submit">
			<img src="/files/icon_search_navbar.svg" width="24px">
		</button>
		</form>
	</li>
{% endif %}
<style>
	.navbar-search-form{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	}

	.navbar-search {
		/* background-color: var(--blue-400); */
		background-color: #F3F3F3;
		width: 300px;
		/* margin-right: 10px; */
		color: #747474;
		border-radius: 5px 0px 0px 5px;
		
	}
	.navbar-search::placeholder {
			color: #747474;
	}

	.navbar-search-btn{
	width: 35px;
	height: 33px;
	background-color: #FCC125;
	border: 0px;
	border-radius: 0px 5px 5px 0px;
	}
	.navbar-brand img{
		display: inline-block;
		max-width: 90px;
		max-height: 90px;
}

</style>
